@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

*{
  box-sizing: border-box;
}

body, html {
    font-family: 'Roboto', serif;
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 0;
}

body {
  background-color: #D2DBDD;
  display: flex;
  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  justify-content: center;
  align-items: center;
}

.cards {
    width: 100%;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    max-width: 900px;
}

.card--1 .card__img, .card--1 .card__img--hover {
    background-image: url('img/boots.png');
}

.card--2 .card__img, .card--2 .card__img--hover {
    background-image: url('img/boots.png');
}

.card--3 .card__img, .card--3 .card__img--hover {
    background-image: url('img/boots.png');
}

.card__img {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 235px;
}


.card {
  margin-right: 25px;
  transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: #fff;
    width: 33.3%;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
}

.card__info {
    z-index: 2;
    background-color: #fff;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 30px 25px 30px 25px;
}

.card__category {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #333333;
}

.card__title {
    font-family: 'Roboto', serif;
    font-size: 15px;
    font-weight: 400;
    color: #666666;
}

.card__by {
    color: #333333;
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
}

button{
    width: 50px;
    margin-left: 50px;
    background-color: #4ED17B;
    border-radius: 8px;
    border: none;
}


